html {
    font-size: 62.5%;
    /*Reset para REMS, 62.5 es = a 10px de 16px */
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6 rem;
}


/*Global*/

.contenedor {
    max-width: 120rem;
    /*igual a 1200 px*/
    /* max-width: 1200px; */
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/*Header Este tiene 2 clases*/

.site-header.inicio {
    background: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 10 rem;
}

.barra {
    display: flex;
    /*Alinea el lado derecho y izquierdo*/
    justify-content: space-between;
    /*Alinea el contenido de forma vertical*/
    align-items: center;
    padding-top: 30px;
}


/*Navegacion*/

.navegacion a {
    color: white;
    text-decoration: none;
    /*esto elimina la linea*/
    /* font-size: 18px;     */
    font-size: 1.8rem;
    /*igual a 18px*/
    margin-right: 20px;
}


/*hover, hace que al pasar por encima de la barra de navegacion cambie el color*/

.navegacion a:hover {
    color: #71B100;
}


/*espacio entre elementos al ultimo*/

.navegacion a:last-of-type {
    margin: 0;
}